section.menu{  
    display: flex;
    justify-content: space-between;
}
.menu__header{
    display: flex;
}


.menu__nav{
    display: flex;
     
}


@media screen and (min-width:0) {
    .menu__list{
        display: none;
    }
    .menu__list__item__contato{
        display: flex;
        align-items: center;
        font-size: .7rem;
    }
    .menu__title{
        font-size: .7rem;
    }
}

@media screen and (min-width:768px) {
    .menu__list{
        display: none;
    }
    .menu__list__item__contato{
        display: flex;
        align-items: center;
    }
    .menu__title{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:1024px) {
    .menu__list{
        display: flex;
    }
    .menu__list__item__contato{
        display: none;
    }

    .menu__list__item{
        display: inline-block;
        font-size: 1rem;
        margin-right: .7rem;
        margin-left: .7rem;
    }
    .menu__header{
        flex-direction: row;
        flex: 1;
    }
    .menu__title{
        display: flex;
        font-size: 1rem;
        align-items: center;
    }
}




