
section.hobbies{
    display: flex;
    flex-direction: column;
}
.hobbies__title{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies__box{
    display: flex;
    align-items: center;
    justify-content:  flex-start;
    height: 170px;
    width: 170px;
    background-color: #fff;
    transition:  .3s;
    margin: 1%;
	box-shadow: 2px 2px 2px #CCC;
    position: relative;
}

.hobbies__box:hover{
    box-shadow: 4px 4px 4px #CCC;

}